.product{
    width: 100%;
    height: 550px;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product img{
    width: 100%; 
    margin-bottom: 10px;
}
.ratings{
   
    position: relative;
    top: -50px;
    left: 75%;
    color: gold;
    width: 100px;
}
.product p{
    position: relative;
    left: 65%;
    top: -75px;
    width: 100px;
}
.productname h5{
    color: black;
    text-decoration-line:none;
 
}
.productname{
    text-decoration-line:none;   
}
.productslist{
    display: grid;
    width: 100%;
    grid-template-columns: 330px 330px 330px;
    row-gap: 25px;
    column-gap: 25px;
    padding-left: 100px;
   
}