.footer{
    position: relative;
    
    bottom: 0%;
    padding: 100px;
    padding-top: 50px;
}
.footertitle{
    transform: scale(0.9);
    padding-left: 400px;
}
.copy{
    bottom: -90px;
    
    padding-left: 420px;
    position: relative;
}
.created{
position: absolute;
bottom: 0px;
left: 0px;
color: rgba(245, 245, 245, 0.144);
}
.link{
 text-decoration: none;
 color: rgba(245, 245, 245, 0.144);
 position: absolute;
 bottom: 0px;
 left: 40px;
}