.loginpage{
  
height: 600px;

background-color: rgb(255, 255, 255);
margin-bottom: 100px;
}
.loginform{
    position: relative;
    left: 330px;
    top: 100px;
    width: 600px;
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(222, 225, 228, 0.452);
    
    
    
    
}
.heading{
    position: relative;
    padding-left: 510px;
    top: 100px;
}
.loginheading{
    position: relative;
    left: 200px;
    top: 0%;
}
.createacc{
   position: relative;
   left: 130px; 
   top: 30px;
   text-decoration: none;
   color: black;
}
.cont{
    position: absolute;
    left: 560px;
}